body {
    font-size: large;
    background-color: gainsboro;
    box-sizing: border-box;
}

.myTitle h1 {
    display: block;
    text-align: center;
    border-bottom-width: medium;
    border-bottom-color: cornflowerblue;
    border-bottom-style: solid;
    background-color: beige;
    margin: 0;
    padding: 20px;
}

.sidebar, .content {
    display: block;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.sidebar {
    width: 200px;
    background-color: lightblue;
    position: absolute;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: blue;
    color: white;
}

.sidebar a:hover:not(.active):not(.logout):not(.account):not(.privileges) {
    background-color: cornflowerblue;
    color: white;
}

.logout {
    background-color: orangered;
    color: black;
}

.logout:hover {
    background-color: darkorange;
    color: white;
}

.account {
    background-color: olive;
    color: black;
}

.account:hover {
    background-color: olivedrab;
    color: white;
}

.privileges {
    background-color: deepskyblue;
    color: black;
}

.privileges:hover {
    background-color: darkblue;
    color: white;
}

.content {
    background-color: gainsboro;
    margin-left: 200px;
    padding: 16px;
}

hr {
    background-color: cornflowerblue;
    border-style: solid;
    border-color: cornflowerblue;
}

.listNone {
    list-style-type: none;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.deadline {
    font-weight: bold;
    color: red;
}

.image {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    alignment: center;
}

.editIcon {
    width: 20px;
}

.topButton {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.radio {
    width: auto;
}

pre {
    font-family: inherit;
}

textarea {
    height:150px;
}

input, select, textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    resize: vertical;
}

label {
    box-sizing: border-box;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit], button {
    padding: 12px;
    margin-top: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: bottom;
}

input[type=submit]:not(.cancel), button {
    background-color: green;
    color: white;
}

input[type=submit]:not(.cancel):hover, button:hover {
    background-color: darkseagreen;
    color: black;
}

.cancel {
    background-color: darkred;
    color: white;
}

.cancel:hover {
    background-color: orangered;
    color: black;
}

.container {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
    margin: auto;
    width: 60%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.warning {
    color: red;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        text-align: center;
        float: none;
    }

    .content {
        margin-left: 0;
    }

    .container {
        box-sizing: border-box;
        width: 100%;
    }
}


